#add_to_card_pop_up {
    display: none;
    position: fixed;
    margin-left: 10px;
    min-width: 310px;
    max-width: 310px;
    color: black;
    top: 45px;
    left: 0;
    background-color: white;
    z-index: 999;
}
.type-active {
    display: block;
}
.type-inactive {
    display: none;
}
.member-fullname {
    font-size: 14px !important;
    font-weight: normal !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.member-fullname:hover {
    cursor: pointer;
}
.member-list-item {
    padding: 10px;
}
.member-list-item:hover {
    background-color: rgb(218,219,226,0.5);       
    cursor: pointer;
}
#member_list_container {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
#dates_type {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}